In [260]:
"""
Скрипт для проверки корректности заполнения файлов для импорта в Билет в будущее
"""

'\nСкрипт для проверки корректности заполнения файлов для импорта в Билет в будущее\n'

In [261]:
import pandas as pd
import numpy as np

In [262]:
name_file = '33 гимназия'

In [263]:
def check_email_teacher(df,name_file):
    pass

In [264]:
def assign_email_chldren(row):
    """
    Функция заменяет в строках где в колонке Роль написано ученик на заглушку mail@mail.ru
    """
    if row['Роль'] =='ученик':
        if row['Email'] is np.nan:
            return 'mail@mail.ru'
        else:
            return row['Email']
    else:
        return row['Email']

In [265]:
def check_email_teacher(row):
    """
    Фунцкция для проверки заполнения учителем email
    """

In [266]:
df = pd.read_excel('data/33 гимназия.xlsx',dtype=str)

In [267]:
error_df = pd.DataFrame(columns=['Название файла','Строка ошибки','Колонка ошибки','Описание ошибки'])

In [268]:
error_df

Empty DataFrame
Columns: [Название файла, Строка ошибки, Колонка ошибки, Описание ошибки]
Index: []

In [269]:
df.head()

,Муниципалитет,Название школы,ИНН школы,Роль,Email,Фамилия,Имя,Отчество,Пол (М или Ж),Дата рождения (ДД.ММ.ГГГГ),Номер класса 6-11,Буква класса
0,город Улан-Удэ,МАОУ «Гимназия №33 г. Улан-Удэ»,0323087898,учитель,NaN,Шведова,Татьяна,Алексеевна,Ж,24.10.1989,8,Б
1,город Улан-Удэ,МАОУ «Гимназия №33 г. Улан-Удэ»,0323087898,ученик,shedova_ta_33@mail.ru,Амагаев,Егор,Вадимович,М,2008-11-19 00:00:00,8,Б
2,город Улан-Удэ,МАОУ «Гимназия №33 г. Улан-Удэ»,0323087898,ученик,NaN,Апханов,Даниил,Денисович,М,2009-02-26 00:00:00,8,Б
3,город Улан-Удэ,МАОУ «Гимназия №33 г. Улан-Удэ»,0323087898,ученик,NaN,Баенгуев,Матвей,Леонидович,М,2008-08-29 00:00:00,8,Б
4,город Улан-Удэ,МАОУ «Гимназия №33 г. Улан-Удэ»,0323087898,ученик,NaN,Бартанова,Анна,Романовна,Ж,2008-01-26 00:00:00,8,Б

In [270]:
df['Email'] = df.apply(assign_email_chldren,axis=1) # заполняем емайлы учеников если они не заполнены

In [271]:
nan_rows = df.isnull().any(axis=1) # получаем индексы где пропущены значения
nan_columns = df.columns[df.isnull().any()]

In [272]:
nan_rows

0       True
1      False
2      False
3      False
4      False
       ...
119    False
120    False
121    False
122    False
123     True
Length: 124, dtype: bool

In [273]:
nan_columns

Index(['Email', 'Буква класса'], dtype='object')

In [274]:
for index, row in df[nan_rows].iterrows():
    for column in nan_columns:
        if pd.isnull(row[column]):
            _df = pd.DataFrame([[name_file,index+2,column,'Обнаружена незаполненная ячейка']],
                              columns=['Название файла','Строка ошибки','Колонка ошибки','Описание ошибки'])
            error_df = pd.concat([error_df,_df],ignore_index=True)

In [275]:
error_df

  Название файла Строка ошибки Колонка ошибки                  Описание ошибки
0    33 гимназия             2          Email  Обнаружена незаполненная ячейка
1    33 гимназия           125   Буква класса  Обнаружена незаполненная ячейка

In [276]:
#df = df.applymap(str)